 

.side-container
{
    display: flex;
    flex-direction: column;
    margin-left: 1.2rem;
    margin-top: 0.9rem;
}
.price-filter 
{
    
    line-height: 2rem;
    margin-bottom: 1rem;
}
.brand-filter
{
    margin-bottom: 1rem;
    display: inline;
}
.availability-filter
{
    line-height: 2rem;
    margin-bottom: 1rem;
}
.filter-container
{
    display: flex;
    justify-content: flex-end;
}
a{
    text-decoration: none;
    color: black;
} 